In [1]:
#kukadiya janki n
#216270307088
#Practical 11: Write a Pandas program to filter all columns where all entries present,
#check which rows and columns has a NaN and finally drop rows with any
#NaNs from the given dataset.

import pandas as pd
df = pd.read_csv('/kaggle/input/nifty50-stocks/NIFTY50_Stocks/NIFTY50/ADANIPORTS.NS.csv') 
print("ICICI Bank sample data:")
print(df.head())
print("\nFind  all columns which all entries present:")
print(df.loc[:, df.notnull().all()])
print("\nRows and columns has a NaN:")
print(df.loc[:,df.isnull().any()])
print("\nDrop rows with any NaNs:")
print(df.dropna(how='any'))

ICICI Bank sample data:
         Date        Open        High         Low       Close   Adj Close  \
0  2008-01-01  255.800003  263.799988  252.740005  259.369995  238.615952
1  2008-01-02  262.049988  264.799988  254.000000  261.489990  240.566345
2  2008-01-03  261.000000  262.940002  252.229996  255.160004  234.742874
3  2008-01-04  255.759995  258.959991  246.600006  248.070007  228.220184
4  2008-01-07  248.000000  255.779999  243.000000  245.449997  225.809830

      Volume
0  2456740.0
1  3519075.0
2  2525290.0
3  2753975.0
4  3154815.0

Find  all columns which all entries present:
            Date
0     2008-01-01
1     2008-01-02
2     2008-01-03
3     2008-01-04
4     2008-01-07
...          ...
3757  2023-03-17
3758  2023-03-20
3759  2023-03-21
3760  2023-03-22
3761  2023-03-23

[3762 rows x 1 columns]

Rows and columns has a NaN:
            Open        High         Low       Close   Adj Close     Volume
0     255.800003  263.799988  252.740005  259.369995  238.615952  2456740.0
1     262.049988  264.799988  254.000000  261.489990  240.566345  3519075.0
2     261.000000  262.940002  252.229996  255.160004  234.742874  2525290.0
3     255.759995  258.959991  246.600006  248.070007  228.220184  2753975.0
4     248.000000  255.779999  243.000000  245.449997  225.809830  3154815.0
...          ...         ...         ...         ...         ...        ...
3757  688.500000  691.750000  671.299988  680.349976  680.349976  7625895.0
3758  671.000000  677.750000  659.299988  666.750000  666.750000  5250369.0
3759  671.500000  674.400024  661.200012  664.799988  664.799988  5011027.0
3760  669.900024  671.900024  654.150024  657.150024  657.150024  4457720.0
3761  655.000000  667.349976  652.049988  654.950012  654.950012  4491324.0

[3762 rows x 6 columns]

Drop rows with any NaNs:
            Date        Open        High         Low       Close   Adj Close  \
0     2008-01-01  255.800003  263.799988  252.740005  259.369995  238.615952
1     2008-01-02  262.049988  264.799988  254.000000  261.489990  240.566345
2     2008-01-03  261.000000  262.940002  252.229996  255.160004  234.742874
3     2008-01-04  255.759995  258.959991  246.600006  248.070007  228.220184
4     2008-01-07  248.000000  255.779999  243.000000  245.449997  225.809830
...          ...         ...         ...         ...         ...         ...
3757  2023-03-17  688.500000  691.750000  671.299988  680.349976  680.349976
3758  2023-03-20  671.000000  677.750000  659.299988  666.750000  666.750000
3759  2023-03-21  671.500000  674.400024  661.200012  664.799988  664.799988
3760  2023-03-22  669.900024  671.900024  654.150024  657.150024  657.150024
3761  2023-03-23  655.000000  667.349976  652.049988  654.950012  654.950012

         Volume
0     2456740.0
1     3519075.0
2     2525290.0
3     2753975.0
4     3154815.0
...         ...
3757  7625895.0
3758  5250369.0
3759  5011027.0
3760  4457720.0
3761  4491324.0

[3755 rows x 7 columns]